<div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1582751836565-74f64cc184cb?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="banner-container">
    <h1>Rent a <strong>Vinyl</strong>!</h1>
    <p>Spin the Groove, Rent Your Move: Your Melodic Journey Starts Here🎼!</p>
    <%= link_to "Explore more", vinyls_new_path, class: "btn btn-success" %>
    <%= link_to "Login",  user_session_path, class: "btn btn-success" %>
  </div>
</div>


<div class="container">
  <h1>Welcome to our Website!</h1>

  <h2>Log In</h2>
  <form action="/login" method="POST">
    <div class="form-group">
      <label for="login-email">Email:</label>
      <input type="email" id="login-email" name="login-email" required>
    </div>
    <div class="form-group">
      <label for="login-password">Password:</label>
      <input type="password" id="login-password" name="login-password" required>
    </div>
    <div class="form-group">
      <button type="submit">Log In</button>
    </div>
  </form>

  <h2>Sign Up</h2>
  <form action="/signup" method="POST">
    <div class="form-group">
      <label for="signup-name">Name:</label>
      <input type="text" id="signup-name" name="signup-name" required>
    </div>
    <div class="form-group">
      <label for="signup-email">Email:</label>
      <input type="email" id="signup-email" name="signup-email" required>
    </div>
    <div class="form-group">
      <label for="signup-password">Password:</label>
      <input type="password" id="signup-password" name="signup-password" required>
    </div>
    <div class="form-group">
      <button type="submit">Sign Up</button>
    </div>
  </form>
</div>
