<%# the filter js function will use jQuery at the moment%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<div class="container align-items-right" style="box-shadow: none !important;">
  <div class="row align-items-right">
    <div class="col-lg-12">
      <ul class="filters">
        <li class="active" data-filter="*"><a href="#!">all</a></li>
        <li data-filter=".pop"><a href="#!">pop</a></li>
        <li data-filter=".electro"><a href="#!">electro</a></li>
        <li data-filter=".indie-rock"><a href="#!">indie-rock</a></li>
      </ul>
      <div class="">

         <div class="row">
          <div class="col-12 col-sm-4 mb-4 Fusion">

            <div class="bg-white rounded shadow h-100 ">
              <a href="/vinyls/2" class="card-link text-decoration-none">
                <div>
                    <img src="/assets/vinyltwo.jpg" class="img-fluid card-img">
                </div>
                <div class="details-container d-flex">

                  <div class="card-body">
                    <h2 style="color: #aba9a9 !important; font-size: 14px; text-transform: uppercase; ">Fusion</h2>
                    <h3 style="font-weight: bold;">Rainbow Gobblins</h3>
                    <h4 style="color: #aba9a9 !important; font-size: 18px;">By abc</h4>
                  </div>

                  <span class="price">$14.00</span>
                </div>
              </a>

            </div>

          </div>
          <div class="col-12 col-sm-4 mb-4 bxvvcvcv">

            <div class="bg-white rounded shadow h-100 ">
              <a href="/vinyls/3" class="card-link text-decoration-none">
                <div>
                    <img src="/assets/vinyltwo.jpg" class="img-fluid card-img">
                </div>
                <div class="details-container d-flex">

                  <div class="card-body">
                    <h2 style="color: #aba9a9 !important; font-size: 14px; text-transform: uppercase; ">bxvvcvcv</h2>
                    <h3 style="font-weight: bold;">Rainbow Gobblins</h3>
                    <h4 style="color: #aba9a9 !important; font-size: 18px;">By vbxvxvvx</h4>
                  </div>

                  <span class="price">$15.00</span>
                </div>
              </a>

            </div>

          </div>
          <div class="col-12 col-sm-4 mb-4 aa">

            <div class="bg-white rounded shadow h-100 ">
              <a href="/vinyls/4" class="card-link text-decoration-none">
                <div>
                    <img src="/assets/vinyltwo.jpg" class="img-fluid card-img">
                </div>
                <div class="details-container d-flex">

                  <div class="card-body">
                    <h2 style="color: #aba9a9 !important; font-size: 14px; text-transform: uppercase; ">aa</h2>
                    <h3 style="font-weight: bold;">Rainbow Gobblins</h3>
                    <h4 style="color: #aba9a9 !important; font-size: 18px;">By aaa</h4>
                  </div>

                  <span class="price">$14.00</span>
                </div>
              </a>

            </div>

          </div>
          <div class="col-12 col-sm-4 mb-4 Blues, Country, Rock &amp; Roll, Rockabilly">

            <div class="bg-white rounded shadow h-100 ">
              <a href="/vinyls/5" class="card-link text-decoration-none">
                <div>
                    <img src="/assets/vinyltwo.jpg" class="img-fluid card-img">
                </div>
                <div class="details-container d-flex">

                  <div class="card-body">
                    <h2 style="color: #aba9a9 !important; font-size: 14px; text-transform: uppercase; ">Blues, Country, Rock &amp; Roll, Rockabilly</h2>
                    <h3 style="font-weight: bold;">Kansas City 74 </h3>
                    <h4 style="color: #aba9a9 !important; font-size: 18px;">By Elvis Presley</h4>
                  </div>

                  <span class="price">$100.00</span>
                </div>
              </a>

            </div>

          </div>
          <div class="col-12 col-sm-4 mb-4 hhhh">

            <div class="bg-white rounded shadow h-100 ">
              <a href="/vinyls/6" class="card-link text-decoration-none">
                <div>
                    <img src="/assets/vinyltwo.jpg" class="img-fluid card-img">
                </div>
                <div class="details-container d-flex">

                  <div class="card-body">
                    <h2 style="color: #aba9a9 !important; font-size: 14px; text-transform: uppercase; ">hhhh</h2>
                    <h3 style="font-weight: bold;">Rainbow Gobblins</h3>
                    <h4 style="color: #aba9a9 !important; font-size: 18px;">By hhhh</h4>
                  </div>

                  <span class="price">$40.00</span>
                </div>
              </a>

            </div>

          </div>
          <div class="col-12 col-sm-4 mb-4 electro">

            <div class="bg-white rounded shadow h-100 ">
              <a href="/vinyls/8" class="card-link text-decoration-none">
                <div>
                    <img src="/assets/vinyltwo.jpg" class="img-fluid card-img">
                </div>
                <div class="details-container d-flex">

                  <div class="card-body">
                    <h2 style="color: #aba9a9 !important; font-size: 14px; text-transform: uppercase; ">electro</h2>
                    <h3 style="font-weight: bold;">test</h3>
                    <h4 style="color: #aba9a9 !important; font-size: 18px;">By test</h4>
                  </div>

                  <span class="price">$10.00</span>
                </div>
              </a>

            </div>

          </div>
          <div class="col-12 col-sm-4 mb-4 indie-rock">

            <div class="bg-white rounded shadow h-100 ">
              <a href="/vinyls/9" class="card-link text-decoration-none">
                <div>
                    <img src="/assets/vinyltwo.jpg" class="img-fluid card-img">
                </div>
                <div class="details-container d-flex">

                  <div class="card-body">
                    <h2 style="color: #aba9a9 !important; font-size: 14px; text-transform: uppercase; ">indie-rock</h2>
                    <h3 style="font-weight: bold;">Rainbow Gobblins</h3>
                    <h4 style="color: #aba9a9 !important; font-size: 18px;">By test</h4>
                  </div>

                  <span class="price">$80.00</span>
                </div>
              </a>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
// filter function
(function(){

    'use strict';


    let $vinyls_card = $('.vinyls_card');

    $vinyls_card.isotope({
        itemSelector: '.item',
        layoutMode: 'fitRows'
    });

    $('ul.filters > li').on('click', function(e){

        e.preventDefault();

        let filter = $(this).attr('data-filter');

        $('ul.filters > li').removeClass('active');
        $(this).addClass('active');

        $vinyls_card.isotope({filter: filter});

    });

})(jQuery);
</script>
