<h1>Your Booking for:<%= @current_vinyl_booking %> </h1>
<p>You can now listen to this vinyl in this timeframe:</p>
<h3 class="text-primary pb-2" style="font-weight: bold;"><%= @booking.start_date %></h3>
<h3 class="text-primary pb-2" style="font-weight: bold;"><%= @booking.end_date %></h3>
<p>The Owner of the vinyl will ship it soon to...Adress to follow, map to follow</p>
