.custom-btn {
  background-color: #2b2828; /* Slightly greyish color */
  border-color: #252323; /* Border color */
}

.custom-btn:hover {
  background-color: #ddd; /* Lighter grey on hover */
  border-color: #aaa; /* Darker border on hover */
}
