.btn.custom-btn {
  background-color: #fefdfc;
  border: 1px solid;
  border-color: #3d242180;
  border-radius: 10%;
  }


.btn.custom-btn:hover {
    background-color: #3d2421;
    color: #ffff;
    }


.btn.custom-btn.dark {
    background-color: #3d2421;
    color: #ffff;
    border-color: #f7d0cb78;
    }

.btn.custom-btn.form {
    background-color: #02631c;
    color: #ffff;
    border-color: #02631c;
  }


.btn.custom-btn.form:hover {
  background-color: #85ffa6;
  color: #0f0f0f;
  border-color: #02631c;
  }
