.card{
  position: relative;
  margin-bottom: 50px;
  color: rgb(73, 91, 247);
  border-radius: 0;
  border: 1px solid #eee;
  background-color: #ffff;
  box-shadow: 1px 1px 1.5px rgba(0,0,0,0.75);
}

.card-head{
  position: relative;
  display: flex;
}

.card-overlay{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(131, 141, 228, 0.316);
  display: flex;
  align-items: center;
  justify-content: center;
  color:#eee
}
