.card{
  position: relative;
  margin-bottom: 50px;
  color: rgb(73, 91, 247);
  border-radius: 0;
  border: 1px solid #eee;
  background-color: #ffff;
  box-shadow: 1px 1px 1.5px rgba(0,0,0,0.75);
}

.card-head{
  position: relative;
  display: flex;
}

.card-body{
  color: black !important;
  padding: 0px !important;
}


.card-body h2, .card-body h4{
  color: black !important;
  font-family: 'Lora', sans-serif !important;
}

.details-container {
  padding: 1rem;
}

.price {
  font-size: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  text-decoration: none;
  color: #252424;
  font-family: 'Lora', sans-serif !important;
}
